*{
    margin: 0rem;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('./Images/watch-background.avif');
    /* background-size:cover; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: 2px solid red;
}
#body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid orange;
}
#logo-head-theme-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
    width: 100%;
    border: 2px solid pink;
}
img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
#heading{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sound-and-theme{
    height: 2rem;
    width: 2rem;
}
#main-container{
    border: 2px solid purple;
    height: 16rem;
    /* width: 44rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#timer{
    font-size: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    color: aqua;
}
#timer div{
    margin-right: 0.8rem;
}
#timer div span{
    font-size: 1rem;
    margin-left: 0rem;
}
#timer div span span{
    font-size: 7rem;
}
#timer div span #milliseconds{
    font-size: 2rem;
}
button{
    height: 2rem;
    width: 4rem;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}
div #Start-button{
    background-color: #4aae71;
}
div #Stop-button{
    background-color: #e31717;
}
div #Reset-button{
    background-color: #fbad10;
}
button:hover{
    opacity: 0.8;
}

/* media queries for responsiveness */

@media only screen and (max-width: 998px) {
   html{
    font-size:  75%;
   }
}

@media only screen and (max-width: 768px) {
    html{
        font-size: 68%;
    }
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 48%;
    }
    body{
        background-image: url('./Images/mob-back-dark.jpg');
        background-size: cover;
    }
}
